form {
  width: 70rem;
  background: #fff;
  border: 1px solid #d3e2e5;

  border-radius: 2rem;
  margin: 6.4rem auto;

  overflow: hidden;

  padding: 8rem;
}

fieldset {
  border: 0;
}

fieldset legend {
  border-bottom: 1px solid #d3e2e5;
  color: #4D6F80;
  width: 100%;

  font-size: 3.2rem;
  font: 700 2.5rem/1 "Nunito", "sans-serif";

  line-height: 1.5;

  margin-bottom: 4rem;
  padding-bottom: 2.4rem;
}

fieldset + fieldset {
  margin-top: 8rem;
}

.input-block + .input-block{
  margin-top: 2.4rem;
}

.input-block label {
  color: #8FA7B3;
  margin-bottom: .8rem;
  line-height: 1.4;
}
.input-block label span {
  font-size: 1.4rem;
  color: #8FA7B3;
  margin-left: 2.4rem;
  line-height: 1.5;
}
/* 
.input-block input,
.input-block textarea {
  width: 100%;
  height: ;
  background: #F5F8FA;
  border: 0;
} */