/* Configuração padrão */

/* Reset padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body {
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  --color-text: #f5f5f5;
  --color-black: #000;
  --bg-white: #fff;
  color: var(--color-text);
  height: 100vh;
}

body,
input,
button,
textarea {
  font: 400 1.8rem /1 "Nunito", sans-serif;
}

